.navigation > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation > ul {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    justify-content: space-around;
}